body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 15px;
}

h1 {
    margin: 0;
}

main.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
}

#scatterplot-section, #map-section, #histogram-section {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#map {
    width: 100%;
    height: 400px;
}

svg {
    width: 100%;
    height: 100%;
}

select {
    margin: 10px;
    padding: 5px;
}
